<section *ngIf="webAppData else noProject">
  <div class="nft-bg" [ngStyle]="background"></div>
  <div class="container">
    <div class="row-fixed-center row">
      <div class="col-4"></div>
      <div class="col">
        <div class="card w-100">
          <div class="card-avatar text-center" [ngStyle]="{backgroundColor: webAppData.bgColor}">
            <img class="nft-logo-size" src="{{webAppData.logo}}" alt="Avatar">
          </div>
          <div class="card-body">
            <div *ngIf="claiming">
              <p class="note-text">
                {{webAppData.note}}
              </p>
              <p class="claim-text-info"><strong>Wallet ID: </strong>{{ claiming.wallet_id }}</p>
              <p class="claim-text-info mb-2"><strong>{{roleText}} To Claim:</strong></p>
              <ul class="card-list-text mx-3 mb-4">
                <li *ngFor="let role of claiming.roles">{{ role.name }}</li>
              </ul>
              <div class="d-flex justify-content-center">
                <button *ngIf="HashConnectService.status != 'Paired'" (click)="pair()" [disabled]="HashConnectService.status != 'Connected'" class="btn btn-warning py-2 text-white px-5 text-uppercase">{{ webAppData.pairing_btn_text }}</button>
                <p *ngIf="HashConnectService.status == 'Paired'" class="paired-success h3 text-center text-success">{{HashConnectService.status}} Success!</p>
              </div>
            </div>
            <div id="spinner_wrap" *ngIf="HashConnectService.status == 'Initializing' && !claiming" class="d-flex justify-content-center">
              <mat-spinner color="primary" diameter="60" strokeWidth="5"></mat-spinner>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</section>

<ng-template #noProject>
  <div class="initial-loader">
    <mat-spinner color="warn" diameter="65" strokeWidth="5"></mat-spinner>
  </div>
</ng-template>
