.note-text {
  text-align: justify;
  font-weight: 300;
  font-style: italic;
  font-size: 0.8rem;
  margin: 0 1rem;
}

.claim-text-info {
  margin: 1rem 1rem 0;
}

#spinner_wrap {
  min-height: 30vh;

  mat-spinner {
    margin: auto;
  }
}
