<section *ngIf="webAppData else noProject" class="nft-bg" [ngStyle]="background">
  <div class="container">
    <div class="row-fixed-center row">
      <div class="col-4"></div>
      <div class="col">
        <div class="card w-100">
          <div class="card-avatar text-center" [ngStyle]="{backgroundColor: webAppData.bgColor}">
            <img class="nft-logo-size" src="{{webAppData.logo}}" alt="Avatar">
          </div>
          <div class="card-body">
            <p class="note-text">
              {{webAppData.note}}
            </p>
            <p class="claim-text-info"><strong>Wallet ID:</strong> X.X.XXX161</p>
            <p class="claim-text-info mb-2"><strong>Roles To Claim:</strong></p>
            <ul class="card-list-text mx-3 mb-4">
              <li>OG Serpent</li><li>OG VIPer</li><li>Serpent</li><li>Cyber Serpent</li><li>Serpent Charmer</li><li>VIPer</li>
            </ul>
            <div class="d-flex justify-content-center">
              <mat-spinner color="accent" diameter="50" strokeWidth="5" *ngIf="HashConnectService.status == 'Initializing'"></mat-spinner>
              <button *ngIf="HashConnectService.status == 'Connected'" (click)="pair()" [disabled]="HashConnectService.status != 'Connected'" class="btn btn-warning py-2 text-white px-5 text-uppercase">Claim Roles</button>
              <p *ngIf="HashConnectService.status == 'Paired'" class="paired-success h3 text-center text-success">Paired Success!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</section>

<ng-template #noProject>
  <div class="initial-loader">
    <mat-spinner color="warn" diameter="65" strokeWidth="5"></mat-spinner>
  </div>
</ng-template>
