<section *ngIf="webAppData else noProject">
  <div class="nft-bg" [ngStyle]="background"></div>
  <div class="container">
    <div class="row-fixed-center row">
      <div class="col-4"></div>
      <div class="col">
        <div class="card w-100">
          <div class="card-avatar text-center" [ngStyle]="{backgroundColor: webAppData.bgColor}">
            <img class="nft-logo-size" src="{{webAppData.logo}}" alt="Avatar">
          </div>
          <div class="card-body">
            <ul class="card-list-text">
              <li *ngFor="let list of webAppData.instructions">{{list}}</li>
            </ul>
            <a href="{{webAppData.discord_link}}" class="btn btn-success d-block mx-5 mt-3">{{webAppData.lp_btn_text}}</a>
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</section>

<ng-template #noProject>
  <div class="initial-loader">
    <mat-spinner color="warn" diameter="65" strokeWidth="5"></mat-spinner>
  </div>
</ng-template>
