<section class="nft-bg"
style="
  background-image: url('../../assets/images/rsz_dv_banner.png');
  background-position-x: -20rem;
">
  <div class="container">
    <div class="row-fixed-center row">
      <div class="col-4"></div>
      <div class="col">
        <div class="card w-100">
          <div class="card-avatar text-center" style="background-color: rgb(131, 5, 5);">
            <img class="nft-logo-size" src="../../assets/images/dv_logo.png" alt="Avatar">
          </div>
          <div class="card-body">
            <ul class="card-list-text">
              <li>Join DoodleVerse Discord Server</li><li>Go To Connect Channel</li><li>Connect Wallet ID</li><li>Get Exciting Roles and Prizes</li><li>Verify Wallet ID</li>
            </ul>
            <a href="#" class="btn btn-success d-block mx-5 mt-3">Verify Now</a>
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</section>
